mixin menu(url, name)
  li.nav__element #[a(href=`${url}`) #{name}]


<!DOCTYPE html>
html(lang="es")
head
  meta(charset="UTF-8")
  title Biseccion
  each css in files.CSS
    link(rel="stylesheet" href=`${css}`)

body
  //- Header
  section.header
    nav.navBar
      ul.nav-list
        li.nav-element
          a(href="index.html").nav-link Biseccion
        li.nav-element
          a(href="falsa.html").nav-link Regla Falsa
        li.nav-element
          a(href="incrementos.html").nav-link Incrementos
        li.nav-element
          a(href="secante.html").nav-link Secante

  //- Intro
  section.intro
    div.m-center
      div.column
        div.polynome
          h4 Ax^5
        div.polynome
          h4 Bx^4
        div.polynome
          h4 Cx^3
        div.polynome
          h4 Dx^2
        div.polynome
          h4 Ex
        div.polynome
          h4 Fsin(Fx)
        div.polynome
          h4 Valor inicial 1
        div.polynome
          h4 Valor inicial 2
        div.polynome
          h4 ea
      div.column
        div.input
          input(type="text")#pol5.polyinp
        div.input
          input(type="text")#pol4.polyinp
        div.input
          input(type="text")#pol3.polyinp
        div.input
          input(type="text")#pol2.polyinp
        div.input
          input(type="text")#pol1.polyinp
        div.input
          input(type="text")#polind.polyinp
        div.input
          input(type="text")#initial1.polyinp
        div.input
          input(type="text")#initial2.polyinp
        div.input
          input(type="text")#ea.polyinp
      div.column
        div.submit
          input(type="button" value="Calcular")#submit

  //- Table
  section.table
    h3.table__h3 Tabla de iteraciones
    table(width="100%")#table

    div.tableResWrapper
      h1#res Resultado:

  script(src='node_modules/jquery/dist/jquery.min.js')
  script(src='js/bisection.js')
  script(src="node_modules/wowjs/dist/wow.min.js")
  script(src="js/wow.js")
