//- Header
.header {
  align-items     : center;
  background-color: lighten($background, 5);
  display         : flex;
  height          : 200px;
  justify-content : center;
  width           : 100%;
  .navBar {
    display        : flex;
    height         : 70%;
    justify-content: center;
    width          : 100%;
    .nav-list {
      align-items    : center;
      display        : flex;
      justify-content: space-between;
      width          : 1400px;
      .nav-element {
        padding: 3em;
        .nav-link {
          color    :white;
          font-size: $h5;
          &:hover {
            color: #ED6A5A;
            transition: all ease 0.3s;
          }
        }
      }
    }
  }
}


//- Intro

.intro {
  margin-top: 3em;
  width     : 100%;

  .m-center {
    display: flex;
    height : 500px;
    width  : 100%;

    .column {
      display        : flex;
      flex-direction : column;
      height         : 80%;
      justify-content: center;
      width          : 30%;

      .polynome {
        height    : 11%;
        text-align: center;
      }

      .input {
        height: 11%;
        .polyinp {
          font-size: $h4;
          width    : 3em;
        }
      }

      .submit {
        align-items: center;
        display    : flex;
        height     : 100%;
        width      : 100%;
        #submit {
          color           : $white;
          background-color: $green;
          border          : 1px solid $green;
          border-radius   : 10px;
          font-size       : $h5;
          padding         : 3em;
          &:hover {
            background-color: darken($green, 10);
            transition      : all ease 0.3s;
          }
        }
      }
    }
  }
}

//- Table
.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
table {
  margin-top: 3em;
}
tr {
  height: 3em;
}
th {
  width: 3em;
}
.table-title {
  font-size: $h5;
}
